
body {
align-items: center !important;
font-family: 'Antonio', sans-serif;
}
.search-button {
    margin: 3%;
    display: flex;
}
img {
    width: 15rem;
    justify-content: center;
}

h1 {
    justify-content: center;
    display: flex;
    letter-spacing: .2rem;
}
button {
    justify-content: center;
    display: flex;
    margin: 30px;
    border-radius: 5px;
    border-color: C4C4C4;
    box-shadow: C4C4C4;
    letter-spacing: .2rem;
}
.nav-item{
    transition: background-color .5s;
    
}
.nav-item:hover {
background-color: rgba(0, 0, 0, 0.377);

}

input {
    word-spacing: .2rem;
    letter-spacing: .2rem;
    margin: 3rem;
    background-color: C4C4C4;
}

@media only screen and (max-width: 600px) {
    .search {
        width: 70% !important;
    }
    button {
        width: fit-content;
    }
}