
body {
align-items: center !important;
font-family: 'Antonio', sans-serif;
}
.search-button {
    margin: 3%;
    display: flex;
}
img {
    width: 15rem;
    justify-content: center;
   /* display: flex;*/
}

h1 {
    justify-content: center;
    display: flex;
    letter-spacing: .2rem;
}
button {
    justify-content: center;
    display: flex;
    margin: 30px;
    border-radius: 5px;
    border-color: C4C4C4;
    box-shadow: C4C4C4;
    letter-spacing: .2rem;
}
input {
    word-spacing: .2rem;
    letter-spacing: .2rem;
    margin: 3rem;
    background-color: C4C4C4;
}